USE [master]
GO
/****** Object:  Database [C:\USERS\QUANT\SOURCE\REPOS\LAB10\BAI1\BIN\DEBUG\QUANLYSINHVIEN.MDF]    Script Date: 11/22/2024 19:05:41 ******/
CREATE DATABASE [C:\USERS\QUANT\SOURCE\REPOS\LAB10\BAI1\BIN\DEBUG\QUANLYSINHVIEN.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien', FILENAME = N'C:\Users\quant\source\repos\Lab10\Bai1\bin\Debug\QuanLySinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySinhVien_log', FILENAME = N'C:\Users\quant\source\repos\Lab10\Bai1\bin\Debug\QuanLySinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\QUANT\SOURCE\REPOS\LAB10\BAI1\BIN\DEBUG\QUANLYSINHVIEN.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\QUANT\SOURCE\REPOS\LAB10\BAI1\BIN\DEBUG\QUANLYSINHVIEN.MDF]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 11/22/2024 19:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[username] [nvarchar](30) NOT NULL,
	[password] [nvarchar](15) NOT NULL,
	[fullname] [nvarchar](30) NULL,
	[email] [nvarchar](50) NULL,
	[mobile] [nvarchar](11) NULL,
	[sate] [bit] NULL,
	[mode] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbAdmin]    Script Date: 11/22/2024 19:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAdmin](
	[UserID] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbChinhSach]    Script Date: 11/22/2024 19:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChinhSach](
	[MaCS] [int] NOT NULL,
	[TenCS] [nvarchar](50) NULL,
	[ChiTiet] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDiem]    Script Date: 11/22/2024 19:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDiem](
	[MaSV] [int] NOT NULL,
	[MaMH] [int] NOT NULL,
	[Diem] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbGiaoVien]    Script Date: 11/22/2024 19:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGiaoVien](
	[MaGV] [int] NOT NULL,
	[TenGV] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKhoa]    Script Date: 11/22/2024 19:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhoa](
	[MaKhoa] [int] NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbLop]    Script Date: 11/22/2024 19:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLop](
	[MaLop] [int] NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[MaKhoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbMonHoc]    Script Date: 11/22/2024 19:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMonHoc](
	[MaMH] [int] NOT NULL,
	[TenMH] [nvarchar](50) NULL,
	[MaGV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSinhVien]    Script Date: 11/22/2024 19:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSinhVien](
	[MaSV] [int] NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[MaLop] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Login] ([username], [password], [fullname], [email], [mobile], [sate], [mode]) VALUES (N'quantran', N'123', N'Trần Quang Quân', N'quantran@gmail.com', N'0376219421', 1, 0)
GO
INSERT [dbo].[tbAdmin] ([UserID], [Password]) VALUES (N'admin1', N'password123')
INSERT [dbo].[tbAdmin] ([UserID], [Password]) VALUES (N'admin2', N'password456')
GO
INSERT [dbo].[tbChinhSach] ([MaCS], [TenCS], [ChiTiet]) VALUES (1, N'Chính sách học bổng', N'Học bổng dành cho sinh viên xuất sắc')
INSERT [dbo].[tbChinhSach] ([MaCS], [TenCS], [ChiTiet]) VALUES (2, N'Chính sách miễn giảm học phí', N'Áp dụng cho sinh viên khó khăn')
GO
INSERT [dbo].[tbDiem] ([MaSV], [MaMH], [Diem]) VALUES (1, 1, 8.5)
INSERT [dbo].[tbDiem] ([MaSV], [MaMH], [Diem]) VALUES (2, 2, 7)
INSERT [dbo].[tbDiem] ([MaSV], [MaMH], [Diem]) VALUES (3, 1, 9)
GO
INSERT [dbo].[tbGiaoVien] ([MaGV], [TenGV], [GioiTinh], [NgaySinh], [DiaChi]) VALUES (1, N'Trần Văn H', N'Nam', CAST(N'1980-01-01' AS Date), N'Hà Nội')
INSERT [dbo].[tbGiaoVien] ([MaGV], [TenGV], [GioiTinh], [NgaySinh], [DiaChi]) VALUES (2, N'Nguyễn Thị L', N'Nữ', CAST(N'1985-05-15' AS Date), N'TP HCM')
GO
INSERT [dbo].[tbKhoa] ([MaKhoa], [TenKhoa]) VALUES (101, N'Khoa Công Nghệ Thông Tin')
INSERT [dbo].[tbKhoa] ([MaKhoa], [TenKhoa]) VALUES (102, N'Khoa Kinh Tế')
INSERT [dbo].[tbKhoa] ([MaKhoa], [TenKhoa]) VALUES (103, N'Khoa Ngoại Ngữ')
GO
INSERT [dbo].[tbLop] ([MaLop], [TenLop], [MaKhoa]) VALUES (1, N'Lớp 1', 101)
INSERT [dbo].[tbLop] ([MaLop], [TenLop], [MaKhoa]) VALUES (2, N'Lớp 2', 102)
INSERT [dbo].[tbLop] ([MaLop], [TenLop], [MaKhoa]) VALUES (3, N'Lớp 3', 103)
GO
INSERT [dbo].[tbMonHoc] ([MaMH], [TenMH], [MaGV]) VALUES (1, N'Toán', 1)
INSERT [dbo].[tbMonHoc] ([MaMH], [TenMH], [MaGV]) VALUES (2, N'Lý', 2)
GO
INSERT [dbo].[tbSinhVien] ([MaSV], [Ten], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [MaLop]) VALUES (1, N'Nguyễn Văn A', N'Nam', CAST(N'2001-05-10' AS Date), N'0123456789', N'Hà Nội', 1)
INSERT [dbo].[tbSinhVien] ([MaSV], [Ten], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [MaLop]) VALUES (2, N'Phạm Thị Bành', N'Nữ', CAST(N'2002-08-20' AS Date), N'0987654321', N'TP HCM', 1)
INSERT [dbo].[tbSinhVien] ([MaSV], [Ten], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [MaLop]) VALUES (3, N'Lê Văn C', N'Nam', CAST(N'2001-11-15' AS Date), N'0934567890', N'Đà Nẵng', 2)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Email]    Script Date: 11/22/2024 19:05:41 ******/
ALTER TABLE [dbo].[Login] ADD  CONSTRAINT [UQ_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Mobile]    Script Date: 11/22/2024 19:05:41 ******/
ALTER TABLE [dbo].[Login] ADD  CONSTRAINT [UQ_Mobile] UNIQUE NONCLUSTERED 
(
	[mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbDiem]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[tbSinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[tbLop]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[tbKhoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[tbMonHoc]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[tbGiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[tbSinhVien]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[tbLop] ([MaLop])
GO
USE [master]
GO
