
@{
    ViewBag.Title = "UCLN";
}

<h2>UCLN</h2>
@{ 
    decimal a = ViewBag.a;
    decimal b = ViewBag.b;
    while (b != 0)
    {
        decimal temp = b;
        b = a % b;
        a = temp;
    }
    <p>@a</p>
}

